# Dataset
archive/
data/

# Compressed dataset files
*.zip
*.rar
*.7z
*.tar
*.gz

# Local editor settings
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
.venv/
venv/
env/

# Personal notes
notes/

# Temporary outputs
outputs/predictions/