@'
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Raw and processed dataset
data/raw/
data/processed/

# Large compressed dataset files
*.zip
*.rar
*.7z
*.tar
*.gz

# models/*.pkl

# Temporary prediction outputs
outputs/predictions/*
!outputs/predictions/.gitkeep
'@ | Set-Content -Encoding UTF8 .gitignore

# VS Code local settings
.vscode/
